@media (max-width: 768px) {

  h3 {
    font-size: 16px;
  }



  .main {

    margin:20px;
  }

  .d-desktop {
    display: none;
  }

  .row {

    flex-direction: column;
    gap: 20px;
  }

  .card {
    
   justify-content: space-evenly;
    width: 100%;
    min-width: 400px;



  }
  
  .nav {

    justify-content: center;
  }

  .wrapper {

    margin-bottom: 10vh;
  }

  .d-mobile {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    color: #FAFF00;
  }

  .window-image {
    position: relative;
    left: -30px;
    min-width: 175px;
    max-width:700px;
    max-height: fit-content;
   aspect-ratio: 1;

  
  }

}




@media (min-width: 769px) { 
  
  h3 {
    font-size: 24px;
  }

  .wrapper{

    max-width: 980px;
  }
  .row {

    flex-direction: row;
    gap: 12px;

  }

  .d-mobile {
    display: none;
  }

  .card {
  display: flex;
  flex-direction: column;
   
    width: calc(100% / 4);
 
    
      }


  
      
}
