body {
  display: flex;
  background: linear-gradient(-53.05deg, #5e16bb, #9d1370), #fff;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 750px;
  font-family: Libre Franklin;
  color: azure;
  margin-bottom: 150px;

}


p {
  font-weight: 300;
}

h3 {

    font-weight: 200;;
    color: rgb(203, 203, 203);
}

h2 {

  font-weight: 500;
 
}

.card--animation {

  transition: ease-in-out 2seg;
  animation: swinging 6s ease-in-out infinite;

}

.card {
    
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 350px;
  height: 620px;
  border-radius: 15px;
  
 
}


@keyframes swinging {

  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  75% { transform: rotate(-10deg); }
  100% { transform: rotate(0deg); }s


}



.upper--section {
  background: linear-gradient(202.43deg, #f1a616, #ff0d01);
  width: auto;
  border-radius: 15px;
  
  overflow: hidden;

}

.lower--section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-self: center;
  width: auto;
  height: 28%;
  border-radius: 0%;
 
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  
}

.card--body--text {
  margin-left: 15px;
  margin-right: 15px;
}

.big--text {
  font-size: 260px;
  font-weight: 600;
  line-height: 230px;
  transform: translateX(-45px);
  opacity: 20%;
  
}

.nike img {

    width: 380px;
    height: 380px;
    position: absolute;
    display: flex;
    top:200px;
  
}

.btn--nike {

   
    border: 2px solid #0000ff;
    color: #0000ff;
    border-radius: 25px;
    width: 100px;
    height:45px;
    align-self: center;
    z-index: 2;
    transition: ease-in-out 170ms;
}

.btn--nike:hover {
background: #0000ff;
color: #fff;


}

.icon--nike img {

width:45px;

}
